$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: #707070;
$primary-color: #EE4D2D;

@import '~vue2-datepicker/scss/index.scss';

.xmx-input:hover {
    border-color: #EE4D2D;
}